extends layout.pug

block content
    h1 Band List
    br
    -let bands = [];
    each val in documents
        -let headliners = val.headliner;
        -let openers = val.openers;
        -let openerSplit = openers.split(", ");
        -for (i=0; i < openerSplit.length; i++) {
            -bands.push(openerSplit[i])
        -};
        -bands.push(headliners);

        -bands.sort();
    -var counts = {};
    -bands.forEach(function(x) { counts[x] = (counts[x] || 0)+1; });
    -let bandList = [];
    -for (i=0; i < Object.entries(counts).length; i++) {
        -bandList.push(Object.entries(counts)[i]); }
    -bandList.shift();
    -bandList.pop();
    -bandList.sort(function(a, b) { return b[1] - a[1]; });

    p.bands You've seen #{bandList.length} bands.

    script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js')
    style
        include ../styling/jquery.dataTables.css
    script.
        $(document).ready(function(){ $('#stats').DataTable( {
            paging: false, order: [[1, 'desc']], info: false, orderClasses: true
            }); });
    table#stats(style="width:40%")
        thead
            tr
                th Band
                th # Of Shows
        tbody
            each band in bandList
                if band != undefined
                    if band[1] > 1
                        tr
                            td.name #{band[0]} 
                            td.name #{band[1]}
                    else
                        tr
                            td.name #{band[0]}
                            td.name #{band[1]}