extends layout.pug

block content
    each val in documents
        -let headliner = val.headliner;
        -let openers = val.openers;
        -let city = val.city;
        -let venue = val.venue;
        -let date = val.date;
        -let writtenDate = val.writtendate;
        -let showType = val.showtype;
        -let festivalName = val.festival;
            h1 #{headliner}
            h3 #{openers} - #{writtenDate} at #{venue} in #{city}
    -console.log(headliner);
    -console.log(openers);