extends ./layout.pug

block content
    h1 Main Listing
    br
    -let yearArray = [];
    -let headlinerTours = [];
    -let festivalTours = [];
    -let localGigs = [];
        each val in documents
            if (val.showtype == "headlinergig")
                -headlinerTours.push(val);
            else if (val.showtype == "festival")
                -festivalTours.push(val);
            else if (val.showtype == "local")
                -localGigs.push(val);

    p You've been to 
        b #{documents.length} events.
        br
        br
        br
        p
            b Headliner Tours
            br
            script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.js')
            script(type='text/javascript', src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js')
            style
                include ../styling/jquery.dataTables.css
                include ../output.css
            script.
                $(document).ready(function(){ $('#headliner').DataTable({
                    paging: false, info: false, }); });
            table#headliner(style="width:65%")
                thead
                    tr
                        th Show #
                        th Bands
                        th Date
                        th Venue
                        th City
                tbody
                    each show in headlinerTours
                        -let showNumber = headlinerTours.indexOf(show) + 1;
                        -let headliner = show.headliner;
                        -let openers = show.openers;
                        -let city = show.city;
                        -let venue = show.venue;
                        -let date = show.date;
                        -let writtenDate = show.writtendate;
                        -let festivalName = show.festival;
                        -let year = show.date.slice(0, 4);
                        if (openers.length > 0)
                            tr
                                td #{showNumber}
                                td 
                                    b #{headliner} 
                                    | w/ #{openers}
                                td #{writtenDate}
                                td #{venue}
                                td #{city}
                        else if (openers.length == 0)
                            tr
                                td #{showNumber}
                                td 
                                    b #{headliner}
                                td #{writtenDate}
                                td #{venue}
                                td #{city}

        br
        br
        br
        p
            b Music Festivals
            br
            script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.js')
            script(type='text/javascript', src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js')
            style
                include ../styling/jquery.dataTables.css
            script.
                $(document).ready(function(){ $('#festivals').DataTable({ paging: false, info: false, }); });
            table#festivals(style="width:75%")
                thead
                    tr
                        th Show #
                        th Tour Name
                        th Bands
                        th Date
                        th Venue
                        th City
                tbody
                    each show in festivalTours
                        -let showNumber = festivalTours.indexOf(show) + 1;
                        -let headliner = show.headliner;
                        -let openers = show.openers;
                        -let city = show.city;
                        -let venue = show.venue;
                        -let date = show.date;
                        -let writtenDate = show.writtendate;
                        -let festivalName = show.festival;
                        -let year = show.date.slice(0, 4);
                        -let splitOpeners = openers.split(", ");
                        -let festivalBands = headliner + ', ' + openers;
                            tr
                                td #{showNumber}
                                td 
                                    b #{festivalName}
                                td #{festivalBands}
                                td #{writtenDate}
                                td #{venue}
                                td #{city}      

        br
        br
        br
        p
            b Local Gigs
            br
            script(type='text/javascript', src='https://code.jquery.com/jquery-3.3.1.js')
            script(type='text/javascript', src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js')
            style
                include ../styling/jquery.dataTables.css
            script.
                $(document).ready(function(){ $('#local').DataTable({ paging: false, info: false, });  } );
            table#local(style="width:65%")
                thead
                    tr
                        th Show #
                        th Bands
                        th Date
                        th Venue
                        th City
                tbody
                    each show in localGigs
                        -let showNumber = localGigs.indexOf(show) + 1;
                        -let bands = show.openers;
                        -let city = show.city;
                        -let venue = show.venue;
                        -let date = show.date;
                        -let writtenDate = show.writtendate;
                            tr
                                td #{showNumber}
                                td #{bands}
                                td #{writtenDate}
                                td #{venue}
                                td #{city}                  

        br