extends layout.pug

block content
    h1 Your Personal Summary
    br
    -let bands = [];
    -let cities = [];
    -let venues = [];
    -let dates = [];
    each val in documents
        -let headliners = val.headliner;
        -let openers = val.openers;
        -let openerSplit = openers.split(", ");
        -for (i=0; i < openerSplit.length; i++) {
            -bands.push(openerSplit[i]); };
        -bands.push(headliners);
        -cities.push(val.city);
        -venues.push(val.venue);
        -dates.push(val.date);

    // Sorting the venues to remove duplicates to get an accurate number count
    -let venueCounts = {};
    -venues.sort();
    -venues.forEach(function(x) { venueCounts[x] = (venueCounts[x] || 0)+1; });
    -let venuesList = [];
    -for (i=0; i < Object.entries(venueCounts).length; i++) {
        -venuesList.push(Object.entries(venueCounts)[i]); }

    // Sorting the cities for accurate count
    -let cityCounts = {};
    -cities.forEach(function(x) { cityCounts[x] = (cityCounts[x] || 0)+1; });
    -let cityList = [];
    -for (i=0; i < Object.entries(cityCounts).length; i++) {
        -cityList.push(Object.entries(cityCounts)[i]); }

    // Sorting the bands for accurate count
    -let bandCounts = {};
    -bands.forEach(function(x) { bandCounts[x] = (bandCounts[x] || 0) + 1; });
    -let bandList = [];
    -for (i=0; i < Object.entries(bandCounts).length; i++) {
        -bandList.push(Object.entries(bandCounts)[i]); }


    // Getting the years
    -dates.sort();
    -let firstDate = dates[0];
    -let lastDate = dates[dates.length -1];
    -let years = function(first, last) {
        -let year1 = first.slice(0,4);
        -let year2 = last.slice(0,4);
        -return (year2 - year1);
    -};
    -let numofyears = years(firstDate, lastDate);

    -let emptyBands = [];
    -bandList.shift();
    -bandList.pop();
    each band in bandList
        if band == ""
            -emptyBands.push(band);
    -let bandNumber = bandList.length - emptyBands.length;
    -let yearAverage = (documents.length / numofyears);
    -let bandAverage = (bandNumber / numofyears);
    div.summary
        p.bands You've seen 
            b #{bandNumber} unique bands 
            | at 
            b #{documents.length} shows, 
            | in 
            b #{venuesList.length} venues 
            | in 
            b #{cityList.length} 
                a(href='cities') cities 
            | over the course of 
            b #{numofyears} years. 
        p.bands This means an average of 
            b #{yearAverage.toFixed(1)} shows per year, 
            | and an average of 
            b #{bandAverage.toFixed(1)} bands per year.
        br