extends layout.pug

block content
    h1 Your Personal Summary
    br
    -let bands = [];
    -let cities = [];
    -let venues = [];
    -let dates = [];
    each val in documents
        -let headliners = val.headliner;
        -let openers = val.openers;
        -let openerSplit = openers.split(", ");
        -for (i=0; i < openerSplit.length; i++) {
            -bands.push(openerSplit[i]); };
        -bands.push(headliners);
        -cities.push(val.city);
        -venues.push(val.venue);
        -dates.push(val.date);
    // Sorting the venues to remove duplicates to get an accurate number count
    -let venueCounts = {};
    -venues.sort();
    -venues.forEach(function(x) { venueCounts[x] = (venueCounts[x] || 0)+1; });
    -let venuesList = [];
    -for (i=0; i < Object.entries(venueCounts).length; i++) {
        -venuesList.push(Object.entries(venueCounts)[i]); }

    // Sorting the cities for accurate count
    -var cityCounts = {};
    -cities.forEach(function(x) { cityCounts[x] = (cityCounts[x] || 0)+1; });
    -let cityList = [];
    -for (i=0; i < Object.entries(cityCounts).length; i++) {
        -cityList.push(Object.entries(cityCounts)[i]); }


    -console.log(bands);

    // Getting the years
    -dates.sort();
    -let firstDate = dates[0];
    -let lastDate = dates[dates.length -1];
    -console.log(firstDate);
    -console.log(lastDate);
    -let years = function(first, last) {
        -let year1 = first.slice(0,4);
        -let year2 = last.slice(0,4);
        -return (year2 - year1);
    -};
    -let numofyears = years(firstDate, lastDate);
    -console.log(numofyears);
    -let yearAverage = (documents.length / numofyears);
    -let bandAverage = (bands.length / numofyears);
    div.summary
        p.bands You've seen #{bands.length} bands at #{documents.length} shows, in #{venuesList.length} venues in #{cityList.length} cities over the course of #{numofyears} years. 
        p.bands This means an average of #{yearAverage.toFixed(1)} shows per year, and an average of #{bandAverage.toFixed(1)} bands per year.
        br